<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js Calculator</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>


    input[type="button"] {
      width: 40px;
      height: 40px;
      font-size: 18px;
      margin: 5px;
    }
  </style>
</head>

<body>
  <div id="calculator">
    <input type="text" v-model="display">
    <br>
    <input type="button" v-for="button in buttons" :value="button" @click="appendToDisplay(button)">
    <br>
    <input type="button" value="C" @click="clearDisplay">
  </div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          display: '',
          buttons: ['+', '-', '*', '/', '.', '=']
        };
      },
      methods: {
        appendToDisplay(value) {
          if (value === '=') {
            try {
              this.display = eval(this.display);
            } catch (error) {
              this.display = 'Error';
            }
          } else {
            this.display += value;
          }
        },
        clearDisplay() {
          this.display = '';
        }
      }
    });

    app.mount('#calculator');
  </script>
</body>

</html>
